@use "@/styles/mixins" as *;

$responsive-aside: 1150px;

/* Bloc */

.bloc {
  --bloc-padding: var(--content-padding);
  --field-background: light-dark(var(--bg-secondary), var(--body));
  background-color: var(--bg-primary);
  border-radius: var(--radius-primary);
  padding: var(--bloc-padding);
  display: flex;
  flex-direction: column;
  gap: calc(var(--bloc-padding) / 1.5);
}

.bloc-no-padding {
  padding: 0;
}

.bloc-section {
  display: flex;
  flex-direction: column;
  gap: calc(var(--bloc-padding) / 1.75);
}

.bloc-section-flex {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--bloc-padding) / 1.75);
}

.bloc-section-flex-right {
  font-size: .95em;
  line-height: 1.1;
}

/* Wrapper */

.wrapper {
  --wrapper-gap: var(--main-padding);
  display: flex;
  align-items: flex-start;
  gap: var(--wrapper-gap);

  h2 {
    line-height: 1;
    display: inline-flex;
    align-items: center;
    gap: .75em;
  }

  .paragraph {
    font-size: 1.05em;
    line-height: 1.5;
    color: var(--text-secondary);
  }
}

.wrapper-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--wrapper-gap);
  padding: var(--wrapper-gap) 0;

  h2 {
    svg {
      color: var(--primary);
    }
  }
}

/* Aside */

.aside {
  width: var(--aside-width);
  min-width: var(--aside-width);
  display: flex;
  flex-direction: column;
  gap: calc(var(--wrapper-gap) / 1.5);

  &>.btn+.btn {
    margin-top: calc(var(--wrapper-gap) * -.25);
  }

  h2 {
    font-weight: 500;
    font-family: var(--font-main);
    font-size: 1.1em;
    color: var(--text-secondary);
  }

  .bloc {
    --bloc-padding: calc(var(--content-padding) * .65);
    gap: calc(var(--bloc-padding) / 1.25);
  }

  .tag {
    font-size: .9em;
  }

  .socials {
    font-size: calc(10px + 2 * (100vw - 320px) / 1080);
    justify-content: center;
  }
}

.aside-relative {
  margin-top: calc(var(--aside-spacing-top) * -1);
}

.aside-responsive-left {
  transition: transform var(--transition-aside);

  @include max($responsive-aside) {
    --padding: var(--size-4);
    width: calc(var(--aside-width) + var(--padding) * 2);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100dvh;
    margin-top: 0;
    background: linear-gradient(to right, oklch(from var(--body) l c h / 0.85) 0%, oklch(from var(--body) l c h / 0.85) 100%);
    backdrop-filter: blur(16px);
    padding: var(--padding);
    border-radius: 0 var(--radius-primary) var(--radius-primary) 0;
    overflow-y: auto;
    @include no-scrollbar;
    box-shadow: var(--shadow-aside-hidden);
    transform: translateX(-100%);
  }
}

.btn-aside-responsive-left {
  --btn-background: oklch(from var(--primary) l c h / 0.15);
  --btn-color: var(--primary);
  --btn-border-color: transparent;
  display: none;
  position: fixed;
  bottom: calc(var(--main-padding) * 1.5);
  right: var(--main-padding);
  z-index: 100;
  backdrop-filter: blur(32px);

  @include max($responsive-aside) {
    display: inline-flex;
  }
}

body.aside-responsive-left-open {
  .aside-responsive-left {
    @include max($responsive-aside) {
      transform: translateX(0);
    }
  }

  .btn-aside-responsive-left {
    .btn-icon-swap {
      display: block;
    }

    .btn-icon:not(.btn-icon-swap) {
      display: none;
    }
  }
}