@use "@/styles/mixins" as *;

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: .35em;
}

.tag {
  font-weight: 600;
  color: var(--tag-color, var(--text-secondary));
  background-color: var(--tag-background, light-dark(var(--bg-secondary), var(--black-darkest)));
  padding: .5em .85em;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-rounded);
  text-align: center;
  transition: color var(--transition-link), background-color var(--transition-link);

  &[href] {
    &:hover {
      color: var(--white);
      background-color: var(--tag-background-hover, var(--primary));
    }
  }
}

.tag-active {
  color: var(--primary);
  background-color: oklch(from var(--primary) l c h / 0.15);
}


.tag-checkbox {
  -webkit-tap-highlight-color: transparent;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1;
  color: var(--text-secondary);
  background-color: light-dark(oklch(from var(--black-medium) l c h / 0.05), oklch(from var(--white-dark) l c h / 0.15));
  padding: 0.5em 0.75em 0.5em 0.45em;
  display: inline-flex;
  align-items: center;
  gap: 0.45em;
  border-radius: .65em;
  cursor: pointer;
  user-select: none;
  transition:
    color var(--transition-link),
    background-color var(--transition-link),
    box-shadow var(--transition-link);

  input {
    appearance: none;
    flex-shrink: 0;
    width: 1.25em;
    height: 1.25em;
    margin: -.15em;
    margin-right: 0;
    border: 0;
    border-radius: .4em;
    background-color: light-dark(oklch(from var(--black-medium) l c h / 0.15), oklch(from var(--white-dark) l c h / 0.2));
    cursor: pointer;
    transition: background-color var(--transition-link);
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }

    &:checked {
      background-color: var(--primary);
    }

    &:checked::after {
      content: "";
      width: 0.28em;
      height: 0.48em;
      margin-bottom: 0.06em;
      border: solid var(--white);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &:has(input:checked) {
    color: var(--primary);
    background-color: oklch(from var(--primary) l c h / 0.15);
  }

  &:hover:not(.tag-checkbox-text) {
    color: var(--primary);
    background-color: oklch(from var(--primary) l c h / 0.15);

    input:not(:checked) {
      background-color: var(--primary);
    }
  }
}

.tag-checkbox-text {
  position: relative;
  padding: 0.5em 0.85em;
  gap: 0;
  border-radius: var(--radius-rounded);

  input {
    display: none;
  }

  &:has(input:checked) {
    color: var(--primary);
    background-color: oklch(from var(--primary) l c h / 0.15);
  }

  &:hover {
    color: var(--primary);
    background-color: oklch(from var(--primary) l c h / 0.1);
  }
}