@use "@/styles/mixins" as *;

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: .35em;
}

.tag {
  font-weight: 600;
  color: var(--tag-color, var(--text-secondary));
  background-color: var(--tag-background, light-dark(var(--bg-secondary), var(--black-darkest)));
  padding: .5em .85em;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-rounded);
  text-align: center;
  transition: color var(--transition-link), background-color var(--transition-link);

  &[href] {
    &:hover {
      color: var(--white);
      background-color: var(--tag-background-hover, var(--primary));
    }
  }
}