@use "@/styles/mixins" as *;

.banner {
  --banner-padding: var(--size-20);
  border-radius: var(--radius-primary);
  background-color: var(--black-medium);
  color: var(--white);
  padding: var(--banner-padding) 0;
  display: flex;
  align-items: center;
  background: var(--bg-url, url("/img/banner.webp")) no-repeat center center / cover var(--black-dark);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--banner-mask, linear-gradient(to right, oklch(from var(--black-dark) l c h / 0.75) 0%, oklch(from var(--black-medium) l c h / 0.75) 100%));
    border-radius: inherit;
  }

  >* {
    position: relative;
    z-index: 1;
  }

  &.banner-is-aside {
    padding: 0;
  }

  h1 {
    font-size: calc(24px + 8 * (100vw - 320px) / 1080);
  }

  .btn {
    backdrop-filter: blur(8px);
  }

  &-bottom {
    --bottom-gap: var(--size-2);
    display: flex;
    align-items: stretch;
    gap: var(--bottom-gap);

    @include max(1084px) {
      --bottom-gap: var(--size-1);
    }
  }

  &-stat {
    background-color: oklch(from var(--black-dark) l c h / 0.75);
    backdrop-filter: blur(16px);
    display: inline-flex;
    align-items: center;
    padding: 1em 1.5em;
    border-radius: var(--radius-rounded);
    gap: .75em;
    white-space: nowrap;

    .icon {
      transform: scale(1.1);
      color: var(--primary);
    }
  }

  &-aside {
    width: var(--aside-width);
    min-width: var(--aside-width);
  }
}

.not-found-banner {
  text-align: center;
  margin-bottom: calc(var(--main-margin-4) * -1 + var(--main-padding));

  .paragraph {
    color: var(--white);
  }

  .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-4);
  }
}