@use "@/styles/mixins" as *;

.btn {
  --btn-background: var(--primary);
  --btn-color: var(--white);
  --btn-radius: var(--radius-rounded);
  --btn-padding-x: var(--size-padding-x);
  --btn-padding-y: var(--size-padding-y);
  --btn-border-color: var(--primary);
  --btn-hover-background: var(--primary-light);
  --btn-hover-border-color: var(--primary-light);
  --btn-hover-color: var(--white);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  background-color: var(--btn-background);
  color: var(--btn-color);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  border: 1px solid var(--btn-border-color);
  gap: 0.75em;
  transition: background-color var(--transition-link), border-color var(--transition-link), color var(--transition-link), transform var(--transition-scale);
  @include user-select;

  &:active {
    transform: scale(0.95);
  }

  @include is-hover {
    background-color: var(--btn-hover-background);
    border-color: var(--btn-hover-border-color);
    color: var(--btn-hover-color);
  }

  span {
    +.btn-icon {
      margin-right: -0.1em;
      margin-left: 0;
    }
  }

  &.secondary {
    --btn-color: var(--white);
    --btn-background: var(--text-secondary);
    --btn-border-color: var(--text-secondary);
    --btn-hover-background: var(--text-tertiary);
    --btn-hover-border-color: var(--text-tertiary);
    --btn-hover-color: var(--white);
  }

  &.tertiary {
    --btn-color: var(--text-secondary);
    --btn-background: var(--bg-secondary);
    --btn-border-color: var(--bg-secondary);
    --btn-hover-background: var(--primary);
    --btn-hover-border-color: var(--primary);
    --btn-hover-color: var(--white);
  }

  &.icon-only {
    aspect-ratio: 1 / 1;
    padding: var(--btn-padding-y);
    gap: 0;

    .btn-icon {
      margin: 0;
      transform: scale(1.75);
    }
  }

  &.border {
    background: transparent;
    border-color: oklch(from var(--btn-border-color) l c h / 0.1);
    color: var(--btn-background);

    &:hover {
      background-color: var(--btn-hover-background);
      color: var(--btn-hover-color);
    }
  }

  &.transparent {
    background: transparent;
    border-color: transparent;
    color: var(--btn-background);

    &:hover {
      background-color: var(--btn-hover-background);
      color: var(--btn-hover-color);
    }
  }
}

.btn-icon {
  transform: scale(1.1);
  margin-left: -0.1em;
}

.btn-icon-swap {
  display: none;
  margin: 0;
}

[data-theme="dark"] {
  .btn {

    &.secondary {
      --btn-color: var(--white);
      --btn-background: var(--black-light);
      --btn-border-color: var(--black-light);
      --btn-hover-background: var(--black-lighter);
      --btn-hover-border-color: var(--black-lighter);
      --btn-hover-color: var(--white);
    }

    &.tertiary {
      --btn-color: var(--text-secondary);
      --btn-background: var(--black-darkest);
      --btn-border-color: var(--black-darkest);
      --btn-hover-background: var(--primary);
      --btn-hover-border-color: var(--primary);
      --btn-hover-color: var(--white);
    }
  }
}

[data-copy] {
  &.copied {
    background-color: var(--success);
    color: var(--white);
    border-color: var(--success);

    .btn-icon-swap {
      display: block;
    }

    .btn-icon:not(.btn-icon-swap) {
      display: none;
    }
  }
}