@use "@/styles/mixins" as *;

.form {
  --form-gap: calc(var(--content-padding) / 3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--form-gap);
  width: 100%;
  position: relative;
}

.field-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--form-gap);
  width: 100%;

  &>* {
    flex: 1;
    min-width: 250px;
  }
}

.field {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: calc(var(--field-padding-y) / 2);
  color: var(--field-color, var(--text-primary));

  &:has(.field-input:focus) {
    --box-shadow: oklch(from var(--text-primary) l c h / 0.05);

    .field-icon {
      color: var(--field-color-icon-focus, var(--primary));
    }
  }

  &:has(.field-input:disabled) {
    .field-icon {
      opacity: .5;
    }
  }
}

.field-content {
  transition: box-shadow var(--field-transition);
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: var(--field-background, var(--bg-secondary));
  border-radius: var(--radius-input);
  box-shadow: 0 0 0 2px var(--box-shadow, transparent) inset;
}

.field-input {
  flex: 1;
  padding: var(--field-padding-y) var(--field-padding-x);
  font-weight: 500;
  font-family: var(--font-main);
  border-radius: inherit;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--field-color, var(--text-primary));
    -webkit-box-shadow: 0 0 0 1000px var(--field-background, var(--bg-secondary)) inset;
    box-shadow: 0 0 0 1000px var(--field-background, var(--bg-secondary)) inset;
    border-radius: inherit;
    transition: background-color 9999s ease-out 0s;
    caret-color: var(--text-primary);
  }

  &::placeholder {
    color: oklch(from var(--field-color, var(--text-secondary)) l c h / 0.5);
  }

  &:disabled {
    opacity: .5;
  }
}

.field-textarea {
  field-sizing: content;
  width: 100%;
  max-width: 100%;
  min-height: 8em;
  word-break: break-word;
}

.field-icon {
  transition: color var(--field-transition);
  height: var(--field-size-height);
  width: var(--field-size-height);
  min-width: var(--field-size-height);
  padding: calc(var(--field-padding-y) / 1.1);

  &+.field-input {
    padding-left: 0;
  }
}

.field-right {
  --field-right-padding: calc(var(--field-size-height) / 7);
  height: var(--field-size-height);
  display: flex;
  align-items: center;
  padding-right: var(--field-right-padding);

  .btn {
    --btn-background: light-dark(oklch(from var(--black-dark) l c h / 0.1), oklch(from var(--white-dark) l c h / 0.05));
    --btn-color: var(--text-secondary);
    --btn-border-color: transparent;
    --btn-hover-background: var(--primary);
    --btn-hover-border-color: transparent;
    --btn-hover-color: var(--white);
    --btn-radius: var(--radius-input);
    --btn-padding-x: calc(var(--field-size-height) / 5);
    --btn-padding-y: calc(var(--field-size-height) / 5);
  }
}

.field-select {
  cursor: pointer;
  border-radius: var(--radius-rounded);
  min-height: var(--field-size-height);
  background-color: light-dark(oklch(from var(--black-medium) l c h / 0.06), oklch(from var(--white-dark) l c h / 0.08));

  .field-icon {
    color: var(--text-secondary);
    align-self: center;
  }
}

.field-select-input {
  appearance: none;
  cursor: pointer;
  font-weight: 600;
  color: var(--text-secondary);
  padding-right: 0;
}

.field-select-chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  color: var(--text-secondary);
  padding-right: 1em;

  .icon {
    width: 1.1em;
    height: 1.1em;
  }
}

.field-label {
  font-size: .95em;
  color: var(--text-secondary);
  padding-left: calc(var(--field-padding-x) / 1.5);
}

.field-label-required {
  color: var(--danger);
}

.field-checkbox {
  --field-checkbox-size: 1.35em;
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: var(--size-1);

  input {
    appearance: none;
    width: var(--field-checkbox-size);
    height: var(--field-checkbox-size);
    min-width: var(--field-checkbox-size);
    border: 2px solid var(--border-primary);
    border-radius: calc(var(--field-checkbox-size) / 3);
    background: var(--field-background, var(--bg-secondary));
    transition: border-color var(--field-transition), background-color var(--field-transition), box-shadow var(--field-transition), outline-color var(--field-transition);
    cursor: pointer;
    position: relative;
    margin: 0;
    display: grid;
    place-items: center;
    margin-right: .5em;

    &[type='radio'] {
      border-radius: 50%;
    }

    &:focus-visible {
      outline: 2px solid var(--primary);
      outline-offset: 2px;
      border-color: var(--primary);
    }

    &:checked {
      background: var(--primary);
      border-color: var(--primary);
    }

    &:checked::after {
      content: '';
      display: block;
      width: 0.6em;
      height: 0.6em;
      border-radius: 2px;
      margin: auto;
      background: var(--white);
      box-shadow: 0 1px 2px oklch(from var(--black-dark) l c h / 0.14);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
      background: var(--border-primary);
    }
  }

  label,
  span,
  & {
    cursor: pointer;
    user-select: none;
  }
}