@use "@/styles/mixins" as *;

.form {
  --form-gap: calc(var(--content-padding) / 3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--form-gap);
  width: 100%;
}

.field-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--form-gap);
  width: 100%;

  &>* {
    flex: 1;
    min-width: 250px;
  }
}

.field {
  --field-padding-x: var(--size-padding-x);
  --field-padding-y: var(--size-padding-y);
  --field-size-height: var(--size-height);
  --field-transition: 0.25s var(--cubic);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: calc(var(--field-padding-y) / 2);

  &:has(.field-input:focus) {
    --box-shadow: oklch(from var(--text-primary) l c h / 0.05);

    .field-icon {
      color: var(--primary);
    }
  }

  &:has(.field-input:disabled) {
    .field-icon {
      opacity: .5;
    }
  }
}

.field-content {
  transition: box-shadow var(--field-transition);
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: var(--field-background, var(--bg-secondary));
  border-radius: var(--radius-input);
  box-shadow: 0 0 0 2px var(--box-shadow, transparent) inset;
}

.field-input {
  flex: 1;
  padding: var(--field-padding-y) var(--field-padding-x);
  font-weight: 500;
  font-family: var(--font-main);

  &::placeholder {
    color: oklch(from var(--text-secondary) l c h / 0.5);
  }

  &:disabled {
    opacity: .5;
  }
}

.field-textarea {
  field-sizing: content;
  width: 100%;
  max-width: 100%;
  min-height: 8em;
  word-break: break-word;
}

.field-icon {
  transition: color var(--field-transition);
  height: var(--field-size-height);
  width: var(--field-size-height);
  min-width: var(--field-size-height);
  padding: calc(var(--field-padding-y) / 1.1);

  &+.field-input {
    padding-left: 0;
  }
}

.field-label {
  font-size: .95em;
  color: var(--text-secondary);
  padding-left: calc(var(--field-padding-x) / 1.5);
}

.field-label-required {
  color: var(--danger);
}