@use "@/styles/mixins" as *;

[data-social="discord"] {
  --color: var(--discord);
}

[data-social="twitter"] {
  --color: var(--twitter);
}

[data-social="x"] {
  --color: var(--x);
}

[data-social="facebook"] {
  --color: var(--facebook);
}

[data-social="instagram"] {
  --color: var(--instagram);
}

[data-social="linkedin"] {
  --color: var(--linkedin);
}

[data-social="youtube"] {
  --color: var(--youtube);
}

[data-social="twitch"] {
  --color: var(--twitch);
}

.socials {
  display: flex;
  gap: var(--size-2);
}

.socials-link {
  --size: var(--size-height);
  transition: background-color var(--transition-link), color var(--transition-link);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius-rounded);
  border: 1px solid var(--border-primary);
  color: var(--color);

  &:hover {
    background-color: var(--color);
    color: light-dark(var(--white), var(--black));
  }

  svg {
    font-size: 1.75em;

    &>* {
      stroke-width: 1;
    }
  }
}