@use '@/styles/mixins' as *;

.default-banner {
  text-align: center;
  padding-inline: var(--content-padding);

  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .breadcrumb-list {
    justify-content: center;
  }

  &-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-4);
  }
}

.default-kit {
  &-content {
    .bloc {
      --heading-min-size: 0.95em;

      h2,
      h3,
      h4,
      h5,
      h6 {
        line-height: 1.15;
      }

      h2 {
        font-size: max(var(--heading-min-size), calc(23px + 4 * (100vw - 320px) / 1080));
      }

      h3 {
        font-size: max(var(--heading-min-size), calc(20px + 3 * (100vw - 320px) / 1080));
      }

      h4 {
        font-size: max(var(--heading-min-size), calc(18px + 2 * (100vw - 320px) / 1080));
      }

      h5 {
        font-size: max(var(--heading-min-size), calc(16px + 1 * (100vw - 320px) / 1080));
      }

      h6 {
        font-size: var(--heading-min-size);
      }
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--size-2);
  }

  &-checks,
  &-radios {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--size-3);
  }

  &-messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }
}

.message {
  --message-color: var(--primary);
  display: flex;
  align-items: flex-start;
  gap: .75em;
  padding: 1em;
  border-radius: var(--radius-secondary);
  background-color: oklch(from var(--message-color) l c h / 0.15);
  color: var(--message-color);

  .icon {
    flex-shrink: 0;
    font-size: 1.15em;
    position: relative;
    top: .1em;
  }

  p {
    line-height: 1.35;
  }

  .paragraph {
    flex: 1;
    min-width: 0;
    color: inherit;

    ul,
    .ul,
    ol,
    .ol {

      li,
      .li {
        &::before {
          color: var(--message-color);
        }
      }
    }

    a,
    .a {
      color: var(--message-color);

      &:hover {
        color: oklch(from var(--message-color) calc(l + 0.12) c h);
      }
    }
  }

  &.message-inline {
    display: inline-flex;
    vertical-align: middle;
    max-width: 100%;
    padding: .5em .85em;
    width: max-content;
    margin-top: 0;
  }

  &-success {
    --message-color: var(--success);
  }

  &-gold {
    --message-color: var(--gold);
  }

  &-warning {
    --message-color: var(--warning);
  }

  &-danger {
    --message-color: var(--danger);
  }
}

.table {
  width: 100%;
}