@use "@/styles/mixins" as *;

.home-banner-left {
  display: flex;
  flex-direction: column;
  gap: calc(var(--banner-padding) / 2);
  z-index: 5;
  position: relative;

  h1 {
    font-size: 2.75em;

    span {
      margin-top: -0.05em;
      display: block;
      font-size: 1.4em;
    }

    strong {
      display: inline-block;
      position: relative;
      padding-inline: 0.35em;
      background-color: var(--primary);
      border-radius: var(--radius-rounded);
      transform: rotate(-3deg);
      margin-inline: -0.1em;
    }
  }

  @include max(1084px) {
    text-align: center;
    align-items: center;
    padding: 0 var(--container-padding);

    h1 {
      font-size: calc(20px + 40 * (100vw - 400px) / 1080);
    }
  }
}

.home-banner-right {
  position: absolute;
  left: 50%;
  width: 710px;
  bottom: calc(var(--banner-padding) * -1);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--primary);
    inset: 43% 25% 0;
    border-radius: var(--radius-rounded) var(--radius-rounded) 0 0;
    filter: blur(60px);
  }

  @include max(1280px) {
    left: 650px;
  }

  @include max(1084px) {
    display: none;
  }
}

.home-banner-right-image {
  position: relative;
  z-index: 2;
}

.home-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(24px + 8 * (100vw - 320px) / 1080) 0;
  gap: var(--size-6);

  h2 {
    font-size: 1.2em;
    font-weight: 500;
    font-family: var(--font-main);
  }

  .field {
    width: calc(370px + 150 * (100vw - 320px) / 1080);
  }

  @include max(800px) {
    flex-direction: column;
    text-align: center;

    .field {
      width: 100%;
    }
  }
}

.home-banner-bottom {
  @include max(1084px) {
    --bottom-gap: var(--size-1);
    display: inline-block;
    text-align: center;

    &>* {
      margin: var(--bottom-gap);
    }

    .btn {
      display: flex;
      width: calc(100% - var(--bottom-gap) * 2);
    }
  }

  @include max(450px) {
    .banner-stat {
      font-size: .8em;
    }
  }
}

/* Games Grid */

.games-grid {
  --grid-gap: calc(8px + 4 * (100vw - 320px) / 1080);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(150px + 48 * (100vw - 320px) / 1080), 1fr));
  gap: var(--grid-gap);
}

.game-card {
  --card-padding: calc(16px + 4 * (100vw - 320px) / 1080);
  --card-gap: calc(var(--card-padding) / 3);
  --card-transition: .3s var(--cubic);
  position: relative;
  border-radius: var(--radius-primary);
  cursor: pointer;
}

.game-card-bg {
  width: 100%;
  border-radius: inherit;
  z-index: 0;
  position: relative;

}

.game-card-content {
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: var(--radius-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--card-padding);

  >* {
    z-index: 3;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    z-index: 1;
    background: linear-gradient(25deg, var(--black-dark) 15%, oklch(from var(--black-dark) l c h / 0.20) 40%);
  }

  &::after {
    transition: opacity var(--card-transition);
    background: linear-gradient(25deg, var(--primary) 15%, oklch(from var(--primary) l c h / 0.0) 60%);
    border: 2px solid var(--primary);
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    .game-card-link {
      margin-top: calc(var(--card-padding) / 2);
      bottom: 0;
      height: 1.15em;
      display: inline-flex;
      align-items: center;
      gap: .5em;

      svg {
        width: 1em;
        position: relative;
        top: .1em;
      }
    }
  }
}

.game-card-serveurs {
  background-color: oklch(from var(--black-dark) l c h / 0.75);
  color: var(--white);
  margin-top: auto;
  border-radius: var(--radius-rounded);
  padding: 0.65em 1em;
  backdrop-filter: blur(8px);
}

.game-card-tags {
  --size: calc(9px + 2 * (100vw - 320px) / 1080);
  --padding-y: 0.5em;
  --padding-x: 1em;
  font-size: var(--size);
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  gap: .33em;
  margin-top: var(--card-gap);
  width: 100%;
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;
}

.game-card-tag {
  background-color: oklch(from var(--white-medium) l c h / .15);
  color: var(--white);
  border-radius: var(--radius-rounded);
  padding: var(--padding-y) var(--padding-x);
  white-space: nowrap;
  flex: 0 0 auto;
}

.game-card-link {
  transition: height var(--card-transition), margin-top var(--card-transition);
  color: var(--white);
  font-weight: bold;
  font-size: .95em;
  height: 0;
  overflow: hidden;
  position: relative;
}

.home-presentation {
  .presentation-top {
    background-color: var(--primary);

    h2 {
      font-size: calc(24px + 2 * (100vw - 320px) / 1080);
    }
  }

  .home-presentation-left-image {
    margin-top: calc(var(--presentation-padding) * -1 - (24px + 16 * (100vw - 320px) / 1080));
    position: relative;
    left: calc(var(--presentation-padding) * -1);
    flex: 1;
    @include mask(linear-gradient(198deg, #000 40%, transparent 80%));
    margin-bottom: calc(var(--presentation-padding) * -3);
    z-index: 0;
  }
}