@use "@/styles/mixins" as *;

$responsive: 1200px;
$mobile: 550px;
$mobile-switch: 440px;

.header {
  --header-transition: 0.6s var(--cubic);
  --header-padding: var(--main-padding);
  --header-gap: var(--size-2-5);
  --header-btn-size: 3.15em;
  --header-btn-padding: var(--size-1);
  --header-btn-icon: 1.5em;
  --header-btn-border: 1px;
  padding: var(--header-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--header-gap);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 0 0 var(--radius-primary) var(--radius-primary);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--body);
    border-radius: inherit;
    z-index: -1;
    height: var(--header-height, 0);
    transition: height var(--header-transition);
  }

  &>* {
    display: flex;
    align-items: stretch;
    gap: var(--header-gap);
  }

  @include max($responsive) {
    --header-gap: var(--size-2);

    .btn {
      padding: 0;
      aspect-ratio: 1/1;
      display: flex;
      height: calc(var(--header-btn-size) + (var(--header-btn-padding) + var(--header-btn-border)) * 2);

      span {
        display: none;
      }

      .btn-icon {
        margin: 0;
        font-size: var(--header-btn-icon);
      }
    }
  }

  @include max($mobile) {
    --header-padding: var(--size-4);
    --header-gap: var(--size-1);
    --header-btn-size: 2.65em;
    --header-btn-padding: var(--size-0-5);
    --header-btn-icon: 1.25em;
  }
}

.fix {
  --header-height: 100%;
}

.header-logo {
  font-size: 28px;
  align-self: center;
  margin-inline: .5em .25em;
  display: inline-block;
  position: relative;
  top: -.1em;

  @include max($mobile) {
    font-size: 25px;
    margin-left: 0;
  }
}

.header-left {
  flex: 1;
}

.header-games {
  --transition: .4s var(--cubic);
  position: relative;

  &:hover {
    .header-games-nav {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
}

.header-games-nav {
  --padding: var(--size-6);
  transition: opacity var(--transition), visibility var(--transition);
  padding: var(--padding);
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  width: var(--container-max);
  background-color: var(--bg-primary);
  border-radius: var(--radius-primary);
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  box-shadow: var(--shadow-primary), 0 100px 70px -80px oklch(from var(--black-dark) l c h / 0.5);
  margin-top: var(--main-padding);
}

.header-games-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: calc(var(--padding) / 2.5);
}

.header-game-link {
  transition: outline-color var(--transition-link);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
  position: relative;
  border-radius: var(--radius-secondary);
  outline: 2px solid transparent;

  &:hover {
    --color: var(--primary);
    outline-color: var(--primary);
  }

  &::before {
    transition: background var(--transition-link);
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, oklch(from var(--black-dark) l c h / 0.75) 0%, oklch(from var(--black-medium) l c h / 0.5) 100%);
    border-radius: inherit;
    z-index: 1;
  }
}

.header-game-bg {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius-secondary);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-game-logo {
  position: relative;
  z-index: 1;
  max-width: 90%;
  max-height: 90%;
}

.header-search {
  flex: 1;
  max-width: calc(300px + 150 * (100vw - 320px) / 1080);

  @include max(800px) {
    display: none;
  }
}

.switch-theme {
  --transition: 0.25s var(--cubic);
  border: var(--header-btn-border) solid var(--border-primary);
  border-radius: var(--radius-rounded);
  padding: var(--header-btn-padding);
  display: flex;
  position: relative;

  @include min($mobile-switch) {
    &::before {
      transition: transform var(--transition);
      content: "";
      position: absolute;
      left: 0;
      width: var(--header-btn-size);
      height: var(--header-btn-size);
      border-radius: var(--radius-rounded);
      background-color: var(--bg-secondary);
      z-index: 0;
      left: 50%;
      transform: translateX(-100%);
    }
  }
}

[data-theme="light"] {
  .switch-theme::before {
    transform: translateX(-100%);
  }
}

[data-theme="dark"] {
  .switch-theme::before {
    transform: translateX(0);
  }
}

@include max($mobile-switch) {
  [data-theme="light"] {
    .switch-theme-button {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }
  }

  [data-theme="dark"] {
    .switch-theme-button {
      &:nth-child(1) {
        display: block;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.switch-theme-button {
  aspect-ratio: 1/1;
  width: var(--header-btn-size);
  border-radius: var(--radius-rounded);
  display: grid;
  place-items: center;
  color: var(--text-secondary);
  position: relative;

  svg {
    width: var(--header-btn-icon);
    z-index: 1;
  }
}