h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--font-heading);
}

.intro {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.35;
}

.paragraph {
  color: oklch(from var(--paragraph-color, var(--text-secondary)) l c h / 0.75);
  line-height: 1.35;
  font-size: 0.95em;
}

.logo {
  font-style: italic;
  font-weight: 500;
  letter-spacing: -.025em;
  color: var(--text-primary);

  strong {
    color: var(--primary);
  }
}

.page-title {
  text-align: center;
  margin: 15vh 0;
}