@charset "UTF-8";

@use "reset";
@use "colors";
@use "easing";
@use "variables";
@use "mixins" as *;
@use "default";
@use "../components/icon/icon";
@use "../components/button/button";
@use "../components/breadcrumb/breadcrumb";
@use "../components/avatar/avatar";
@use "../components/tags/tags";
@use "../components/stars/stars";
@use "../components/serveur/serveur";
@use "../components/container/container";
@use "../components/wrapper/wrapper";
@use "../components/comments/comments";
@use "../components/socials/socials";
@use "../components/banner/banner";
@use "../components/layout/header/header";
@use "../components/layout/footer/footer";
@use "../components/form/form";
@use "../components/presentation/presentation";
@use "../components/pagination/pagination";
@use "../components/table/table";
@use "../app/(home)/page";
@use "../app/serveur/page-serveur";
@use "../app/[game]/page-jeu";
@use "../app/connexion/page-login";
@use "../app/actualite/page-actualite";
@use "../app/profil/page-profil";
@use "../app/vote/page-vote";
@use "../app/location-serveur/page-location";
@use "../app/default/page-default";

html {
  background-color: var(--body);
  color: var(--text-primary);
  font-size: 15px;
  line-height: 1.2;
  overflow-x: clip;
  @include no-scrollbar;
  @include selection(oklch(from var(--primary) l c h / 0.85), var(--white));

  @include max(390px) {
    font-size: 14px;
  }

  #nprogress {
    .bar {
      background: var(--primary) !important;
    }
  }
}

[data-selection-black] {
  @include selection(oklch(from var(--black-dark) l c h / 0.85), var(--white));
}


body {
  font-weight: 500;
  font-family: var(--font-main);
  font-feature-settings: "salt" on;
}

svg {
  stroke-linecap: round;
  stroke-linejoin: round;
}

img {
  @include user-select;
}

strong {
  font-weight: 800;
}


/* main */

.main {
  padding-inline: var(--main-padding);
}

.tester {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 10px;
  background-color: var(--black-dark);
  border-top-left-radius: var(--radius-secondary);
  color: var(--white);
  z-index: 100;
  padding: .5em;
  cursor: pointer;

  &:hover {
    background-color: var(--primary);
  }
}