@charset "UTF-8";

@use "reset";
@use "colors";
@use "easing";
@use "variables";
@use "mixins" as *;
@use "default";
@use "../components/icon/icon";
@use "../components/button/button";
@use "../components/tags/tags";
@use "../components/stars/stars";
@use "../components/serveur/serveur";
@use "../components/container/container";
@use "../components/wrapper/wrapper";
@use "../components/socials/socials";
@use "../components/banner/banner";
@use "../components/layout/header/header";
@use "../components/layout/footer/footer";
@use "../components/form/form";
@use "../components/presentation/presentation";
@use "../app/(home)/page";
@use "../app/[game]/page-jeu";

html {
  background-color: var(--body);
  color: var(--text-primary);
  font-size: 15px;
  line-height: 1.2;
  overflow-x: clip;
  @include no-scrollbar;
  @include selection(oklch(from var(--primary) l c h / 0.85), var(--white));

  #nprogress {
    .bar {
      background: var(--primary) !important;
    }
  }
}

[data-selection-black] {
  @include selection(oklch(from var(--black-dark) l c h / 0.85), var(--white));
}

[data-link] {
  cursor: pointer;
}

body {
  font-weight: 500;
  font-family: var(--font-main);
  font-feature-settings: "salt" on;
}

svg {
  stroke-linecap: round;
  stroke-linejoin: round;
}

img {
  @include user-select;
}

strong {
  font-weight: 800;
}

h1 {
  font-family: var(--font-heading);
}

/* main */

.main {
  padding-inline: var(--main-padding);
}